<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Department</th>
            <th>Doctor</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="appointment:${appointments}">
            <td th:text="${appointment.id}"></td>
            <td th:text="${appointment.date}"></td>
            <td th:text="${appointment.getDepartment().getName()}"></td>
            <td th:text="${appointment.getDoctor().getFirstName()}"></td>
            <td>
                <form th:method="DELETE" th:action="@{/appointments/{doctorId}/deleteAppointment/{appointmentId}(doctorId=${doctorId}, appointmentId=${appointment.id})}">
                    <input style="background: #ff0000;color: black" type="submit" class="btn btn-outline-primary" th:value="  Delete  "></input>
                </form>
                <a th:href="@{/patients/new/{appId}(appId=${appointment.id})}">
                    <button type="button">Add</button>
                </a>
                <a th:href="@{/patients/{appId}(appId=${appointment.id})}">
                    <button type="button">info</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p style="text-align:center;">
    <a class="btn btn-outline-primary" role="button" th:href="@{/appointments/new/{id}(id=${doctorId})}">Add new appointment</a>
</p>
</body>
</html>