<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Patient</title>
</head>
<body>

</body>
<form th:method="POST" th:action="@{/patients/save/{appointmentId}(appointmentId=${appointmentId})}"
      th:object="${newPatient}">

    <div>
        <label for="name">Name</label>
        <input type="text" th:field="*{firstName}" id="name">
    </div>

    <div>
        <label for="address">last name</label>
        <input type="text" th:field="*{lastName}" id="address">
    </div>

    <div>
        <label for="email">email</label>
        <input type="text" th:field="*{email}" id="email">
    </div>
    <div>
        <label for="phone Number">phone number</label>
        <input type="text" th:field="*{phoneNumber}" id="phone Number">
    </div>
    <div>
        <label for="gender">gender</label>
        <input type="text" th:field="*{gender}" id="gender">
    </div>
    <button type="submit">save patient</button>
</form>
</html>